doctype html
html 
	head 
		meta(charset='UTF-8')
		title= testGame_LoginPage
	body
		h1 部屋名入力してください．
		p 作成または入場

		form(action="/game" method='post')
			input(type="text", name="create" placeholder="create Room")
			button(type="submit")作成

			br
			br
			br

			input(type="text", name="join" placeholder="join Room")
			button(type="submit")参加


		h1 ルール
		h2 星を集めて先に100点取ったほうが勝ち！！
		p ルーム作成者がプレイヤー1で左側のキャラ
		p ルーム参加者がプレイヤー2で右側のキャラ
		p 操作は十字キーのみ
		ul
			li ↑：ジャンプ
			li ←：左移動
			li →：右移動
			li ↓：特になし



